**/node_modules/
.devcontainer
dist
dist-ssr
*.local
log
pm2logs
logs
deploy
.pnpm-store

# Editor directories and files
.vscode/*
.devcontainer/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.lh/
uploads/
.vscode
.42c
data/
volumes/
.venv/
**/__pycache__/
**/*.pyc
**/rag_db
cleanup_backups/
reports/
*.Zone.Identifier
*Zone.Identifier
config/
!rag/config/
!rag/config/**
faq_database/database/chroma_db/*
faq_database/files/*
config/*.env
.env.local
.env.*.local
*.env
.env.shared
